nonce.txt
*~
.git
*.o
*.beam
amoveo_c_miner
mining_input
nonce.txt
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
#*
.#*